<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles" >
    <div class="col-md-6 col-8 align-self-center" >
        
        
    </div>
    <!--<div class="col-md-6 col-4 align-self-center">-->
        <!--<a href="https://wrappixel.com/templates/monster-angular-dashboard/" target="_blank" class="btn pull-right hidden-sm-down btn-success">Upgrade To Pro</a>-->
    <!--</div>-->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
