<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon -->
        <b>
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon -->
          <!--<img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />-->
          <!-- Light Logo icon -->
          <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
                    <!-- dark Logo text -->
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
          <!-- Light Logo text -->
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                </span>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav mr-auto mt-md-0 ">
        <!-- This is  -->
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-lg-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item hidden-sm-down">
          <div class="container" >
            <div class="row">

               <div class="btn-group show-on-hover">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="
    margin-right:  500px;margin-top: 15px;padding-left:  34px;padding-right:  34px;">
                  Select Company  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" style="width: 185px;"  value="">
                  <li style="padding-left: 10px;" ><a href="#">Company 1</a></li>
                  <li style="padding-left: 10px;"><a href="#">Company 2</a></li>
                  <li style="padding-left: 10px;"><a href="#">Company 3</a></li>
                  <li style="padding-left: 10px;"><a href="#">Company 4</a></li>
                </ul>
              </div> 

            </div>
          </div></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <ul class="dropdown-user">

              <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
              <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
