<h3 style="text-align: center;margin-top: -29px;text-align:center;font-size:35px;color:#000;font-family:\22Courier New\22,serif;font-weight:bold;">Bearing Predictive Maintenance Analysis</h3>
<div class="row">
    <div class="col-md-4">
        <!-- <div class="card"> -->
            <div>
                <div class="boxed" style="background-color: #95D69C;width: 230px;border-radius: 15px 15px 15px 15px;height: 100px;box-shadow: 10px -10px 5px #CCC;border: 2px solid yellow;padding: 15px;margin: 15px;border-color: black">
                    <h2 class="card-title" style="text-align: center">1</h2>
                    <h3 class="card-title" style="text-align: center">Normal</h3>
                  </div>
  			<!-- </div> -->
        </div>
    </div>
    <div class="col-md-4">
        <!-- <div class="card"> -->
            <div  style="margin-bottom: -10px">
                <div class="boxed" style="background-color: yellow;width: 230px;border-radius: 15px 15px 15px 15px;height: 100px;box-shadow: 10px -10px 05px #CCC;border: 2px solid yellow;padding: 15px;margin: 15px;border-color: black">
                    <h2 class="card-title" style="text-align: center">3</h2>
                    <h3 class="card-title" style="text-align: center">Alert</h3>
                  </div>
  			<!-- </div> -->
        </div>
    </div>
    <div class="col-md-4">
        <!-- <div class="card"> -->
            <div >
                
                <div class="boxed" style="background-color: #FF0000;width: 230px;border-radius: 15px 15px 15px 15px;height: 100px;box-shadow: 10px -10px 5px #CCC;border: 2px solid yellow;padding: 15px;margin: 15px;border-color: black; ">
                    <h2 class="card-title" style="text-align: center">1</h2>
                    <h3 class="card-title" style="text-align: center">Alarm </h3>
                  </div>
  			<!-- </div> -->
        </div>
    </div>
    
    <div  style="background-color: #fff;border-radius: 15px 15px 15px 15px;height: 430px;width:1000px;box-shadow: 10px -10px 5px #CCC;border: 1px solid yellow;padding: 15px;margin: 15px;border-color: black;margin-top: -20px;margin-left: 120px;margin-top: 30px;">
            <b><h3 style="text-align: center;">Plant Name- Alert Machines</h3></b><br>
            <div class="row">
                    <div class="col-sm-6" style="padding-left: 100px;"><b>Machine Name :</b></div>
                    <div class="col-sm-6">HAMMER MILL DC FAN</div>
                    <br><br>
                    <div class="col-sm-6" style="padding-left: 100px;"><b>Value :</b></div>
                    <div class="col-sm-6">3.9</div><br><br>
                    <div class="col-sm-6" style="padding-left: 100px;"><b>Date of previous breakdown :</b></div>
                    <div class="col-sm-6">Nil</div><br><br>
                    <div class="col-sm-6" style="padding-left: 100px;"><b>Last breakdown type :</b></div>
                    <div class="col-sm-6">Nil</div><br><br>
                    <div class="col-sm-6" style="padding-left: 100px;"><b>Reason for previous breakdown :</b></div>
                    <div class="col-sm-6">Nil</div><br><br>
                    <div class="col-sm-6" style="padding-left: 100px;"><b>Recommended Action :</b></div>
                    <div class="col-sm-6">It is suggested to keep close monitoring over </div>

                    </div>
                    <br>
                    <button type="button" class="btn btn-info" style="padding-left: 30px;padding-right: 30px;margin-left: 400px;">Check</button>
                    <br><br>
    </div>

    </div>
    