<div class="row">
    
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                <h2 class="card-title" style="text-align:  center;"><b>Add Machnie Here !!!</b></h2>
                <form action="/action_page.php" style=" padding-left: 200px; padding-right: 200px;">
                  <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input type="text" name="mname" id="mname" class="form-control input-sm" placeholder="Machine Name">
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                          <input type="date" name="date" id="date" class="form-control input-sm" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <div class="form-group">
                              <input type="text" name="type" id="type" class="form-control input-sm" placeholder="Enter Date Of previous breakdown">
                          
                             </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                          <div class="form-group">
                              <input type="text" name="reason" id="reason" class="form-control input-sm" placeholder="Enter Reason For Previous Breakdown">
                         
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                     <input type="text" class="form-control" id="action" placeholder="Enter Action" name="action"required>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="form-group">
                                <input type="number" name="cvalue" id="cvalue" class="form-control input-sm" placeholder="Current Value">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                              <div class="form-group">
                                <input type="number" name="nvalue" id="nvalue" class="form-control input-sm" placeholder="Normal Value">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 col-md-3">
                                <div class="form-group">
                                  <input type="number" name="alvalue" id="alvalue" class="form-control input-sm" placeholder="Alarm Value">
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-3 col-md-3">
                                  <div class="form-group">
                                    <input type="number" name="arvalue" id="arvalue" class="form-control input-sm" placeholder="Alert Value">
                                  </div>
                                </div>
                          </div>
                  <div class="row">
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                  <input type="text" name="cmpname" id="cmpname" class="form-control input-sm" placeholder="Enter Company Name">
                                </div>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                  <input type="text" name="Plantname" id="Plantname" class="form-control input-sm" placeholder="Enter Plant Name">
                                </div>
                              </div>
                            </div>
                               <div class="row">
                                  <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                      <input type="text" name="city" id="city" class="form-control input-sm" placeholder="Enter City">
                                    </div>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                      <input type="text" name="state" id="state" class="form-control input-sm" placeholder="Enter State">
                                    </div>
                                  </div>
                                </div> 
                    <button type="submit" class="btn btn-success btn-lg"style="margin-left: 250px;">Add Machine</button><br>
                     </form>
        

    </div>
        </div>
    </div>
    
    
    
   
</div>