
<h3 style="text-align: center;margin-top: -29px;text-align:center;text-align:center;
font-size:35px;color:#000;font-family:\22Courier New\22,serif;font-weight:bold;">Bearing Predictive Maintenance Analysis</h3>
<div class="row" >
   
  <div class="col-md-12" >
      <h3 class="card-title" style="text-align:  center;">Users</h3>
      <table  border="2" width="100%">
          <tr>
              <td style="width: 50px;height: 50px;text-align: center;color: #000;"><B>ID</B></td>
              <td style="text-align: center;width:150px;color: #000;"><b>Name</b></td>
              <td style="text-align: center;width:150px;color: #000;"><b>Mobile Number</b></td>
              <td style="text-align: center;width:120px;color: #000;"><b>Company</b></td>
              <td style="text-align: center;width:130px;color: #000;"><b>Address</b></td>
              <td style="text-align: center;width:100px;color: #000;"><b>Emp Code</b></td>
              <td style="text-align: center;width:200px;color: #000;"><b>E-Mail</b></td>
              <td style="text-align: center;width:250px;color: #000;"><b>Action</b></td>
              <td style="text-align: center;width:250px;color: #000;"><b>Action</b></td>
              
          </tr>
          <tr>
              <td style="width: 50px;height: 50px;text-align: center;"><B>29</B></td>
              <td style="text-align: center;width:150px;"><b>Gaurav</b></td>
              <td style="text-align: center;width:150px;"><b>9900099000</b></td>
              <td style="text-align: center;width:120px;"><b>Defour Analytics</b></td>
              <td style="text-align: center;width:130px;"><b>Pune</b></td>
              <td style="text-align: center;width:100px;"><b>001</b></td>
              <td style="text-align: center;width:200px;"><b>gauravnikam1@gmail.com</b></td>
              <td style="text-align: center;width:250px;"><button type="button" class="btn btn-success">Enabled</button></td>
              <td style="text-align: center;width:250px;"><b><button type="button" class="btn btn-danger">Delete</button></b></td>
              
          </tr>
          <tr>
              <td style="width: 50px;height: 50px;text-align: center;"><B>32</B></td>
              <td style="text-align: center;width:150px;"><b>Vishal</b></td>
              <td style="text-align: center;width:150px;"><b>7700770000</b></td>
              <td style="text-align: center;width:120px;"><b>Defour Analytics</b></td>
              <td style="text-align: center;width:130px;"><b>Pune</b></td>
              <td style="text-align: center;width:100px;"><b>5645</b></td>
              <td style="text-align: center;width:200px;"><b>vishal.goswami@defouranalytics.com</b></td>
              <td style="text-align: center;width:250px;"><button type="button" class="btn btn-success">Enabled</button></td>
              <td style="text-align: center;width:250px;"><b><button type="button" class="btn btn-danger">Delete</button></b></td>
              
          </tr>
          <tr>
              <td style="width: 50px;height: 50px;text-align: center;"><B>33</B></td>
              <td style="text-align: center;width:150px;"><b>Anil</b></td>
              <td style="text-align: center;width:150px;"><b>9700232323</b></td>
              <td style="text-align: center;width:120px;"><b>Defour Analytics</b></td>
              <td style="text-align: center;width:130px;"><b>Pune</b></td>
              <td style="text-align: center;width:100px;"><b>003</b></td>
              <td style="text-align: center;width:200px;"><b>anil.kharde@defouranalytics.com</b></td>
              <td style="text-align: center;width:250px;"><button type="button" class="btn btn-warning">Disabled</button></td>
              <td style="text-align: center;width:250px;"><b><button type="button" class="btn btn-danger">Delete</button></b></td>
              
          </tr>
          <tr>
              <td style="width: 50px;height: 50px;text-align: center;"><B>34</B></td>
              <td style="text-align: center;width:150px;"><b>Mahesh</b></td>
              <td style="text-align: center;width:150px;"><b>8989898989</b></td>
              <td style="text-align: center;width:120px;"><b>Defour Analytics</b></td>
              <td style="text-align: center;width:130px;"><b>Pune</b></td>
              <td style="text-align: center;width:100px;"><b>007</b></td>
              <td style="text-align: center;width:200px;"><b>mahesh@defouranalytics.com</b></td>
              <td style="text-align: center;width:250px;"><button type="button" class="btn btn-success">Enabled</button></td>
              <td style="text-align: center;width:250px;"><b><button type="button" class="btn btn-danger">Delete</button></b></td>
              
          </tr>
          <tr>
              <td style="width: 50px;height: 50px;text-align: center;"><B>35</B></td>
              <td style="text-align: center;width:150px;"><b>Nipun</b></td>
              <td style="text-align: center;width:150px;"><b>7447447444</b></td>
              <td style="text-align: center;width:120px;"><b>Defour Analytics</b></td>
              <td style="text-align: center;width:130px;"><b>Pune</b></td>
              <td style="text-align: center;width:100px;"><b>008</b></td>
              <td style="text-align: center;width:200px;"><b>nipun@defouranalytics.com</b></td>
              <td style="text-align: center;width:250px;"><button type="button" class="btn btn-success">Enabled</button></td>
              <td style="text-align: center;width:250px;"><b><button type="button" class="btn btn-danger">Delete</button></b></td>
              
          </tr>
        </table>
    
  </div>
  
  
</div>
