
<h3 style="text-align: center;margin-top: -29px;text-align:center;font-size:35px;color:#000;font-family:\22Courier New\22,serif;font-weight:bold;">Bearing Predictive Maintenance Analysis</h3>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" style="text-align:  center;"><b>Sign Up</b></h2>
                <form action="/action_page.php" style=" padding-left: 200px; padding-right: 200px;">
                    <div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			                <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="number" name="Mobilenumber" id="mobilenumber" class="form-control input-sm" placeholder="Mobile Number" >
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Enter email">
                      </div>
                    </div>
                  </div>
                    <div class="form-group">
                       
                        <input type="text" class="form-control" id="address" placeholder="Enter Your Address" name="address">
                      </div>
                       <div class="form-group">
                        
                        <input type="text" class="form-control" id="empcode" placeholder="Enter Your Employee Code" name="empcode">
                      </div>
                      <div class="form-group">
                        
                        <input type="text" class="form-control" id="cmpname" placeholder="Enter Company Name" name="cmpname">
                      </div>
                      <div class="form-group">
                      
                          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                        </div>

                    <button type="submit" class="btn btn-success btn-lg"style="margin-left: 250px;">Add Client</button><br>
                    <h6 style="margin-left: 180px;margin-top:  5px;">Already Registered ? <a href="#">Click here to Sign In...</a></h6>
                  </form>
        

    </div>
</div>